h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: auto;
    color: aqua;
}

body {
    background-color: black;
    color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}